<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="Estilo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<style>
	 .menulateral{
    margin-top: 5px;
    margin-left: -15px;
}

	.menuCentral{
    margin-top: 5px;
    margin-left: -15px;
} 
	</style>
		
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
          <img style="border-radius: 7px;" src="https://static.vecteezy.com/ti/vetor-gratis/t2/5130883-w-aw-wa-inicial-baseado-alfabeto-icone-logo-gratis-vetor.jpg" alt="" width="30" height="30">
          WilTec.</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

            </ul>
            
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
        </div>
    </nav>


    <div class="container-fluid">


   

    <div class="row">
        <div class="col-md-3 menulateral" > 
          <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active">
              Funcionalidade </a>
              <a href="/cadastroVenda" class="list-group-item list-group-item-action">Nova Venda</a>
              <a href="/listarVenda" class="list-group-item list-group-item-action">Listar Venda</a>
              <a href="/cadastroEntrada" class="list-group-item list-group-item-action">Entrada de Produtos</a>
              <a href="/listarEntrada" class="list-group-item list-group-item-action">Listar Entrada de Produtos</a>
                
              <a href="#" class="list-group-item list-group-item-action active">
              Cadastro
            </a>
            <a href="/cadastroFuncionario" class="list-group-item list-group-item-action">Cadastro Funcionario</a>
            <a href="/cadastroCliente" class="list-group-item list-group-item-action">Cadastro Cliente</a>
             <a href="/cadastroFornecedor" class="list-group-item list-group-item-action">Cadastro Fornecedor</a>
            <a href="/cadastroProduto" class="list-group-item list-group-item-action">Cadastro Produto</a>
            <a href="/cadastroCidade" class="list-group-item list-group-item-action">Cadastro Cidade</a>
            <a href="/cadastroEstado" class="list-group-item list-group-item-action">Cadastro Estado</a>
          
            <a href="#" class="list-group-item list-group-item-action active">   Listagem </a>
          
            <a href="/listarFuncionario" class="list-group-item list-group-item-action">Lista Funcionario</a>
            <a href="/listarCliente" class="list-group-item list-group-item-action">Lista Clientes</a>
            <a href="/listarFornecedor" class="list-group-item list-group-item-action">Lista Fornecedor</a>
            <a href="/listarProduto" class="list-group-item list-group-item-action">Lista Produtos</a>
            <a href="/listarCidade" class="list-group-item list-group-item-action">Lista Cidade</a>
            <a href="/listarEstado" class="list-group-item list-group-item-action">Lista Estado</a>
          </div>
        </div>
        

        <div class="col-md-9 menuCentral" >
          <div class="row">
             
            <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/994/994649.png" >
                  <div class="card-body">
                    <h5 class="card-title">VENDAS</h5>
                    <p class="card-text">.</p>
                    <a href="#" class="btn btn-primary">Iniciar</a>
                  </div>
                </div>

              </div>

              

              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/1324/1324110.png" alt="Imagem de capa do card" width="20px" height="285px">
                  <div class="card-body">
                    <h5 class="card-title">ENTRADA DE PRODUTOS</h5>
                    <p class="card-text">.</p>
                    <a href="#" class="btn btn-primary">Cadastrar</a>
                  </div>
                </div>

              </div>

              

              <div class="col-md-3">
                <div class="card" style="width: 18rem;">
                  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoG-RooSACl0PWwDXBpOPGrOvIxWgXbMhPm6yOA0IVKQQjq9fjzHb9Me1JYnUwCZnI9hs&usqp=CAU/" alt="Imagem de capa do card">
                  <div class="card-body">
                    <h5 class="card-title">CAD FUNCIONARIO</h5>
                    <p class="card-text">.</p>
                    <a href="#" class="btn btn-primary">Cadastrar</a>
                  </div>
                </div>
              </div>

              
              <div class="col-md-3"><div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/6009/6009864.png" alt="Imagem de capa do card">
                <div class="card-body">
                  <h5 class="card-title">CAD CLIENTES</h5>
                  <p class="card-text">.</p>
                  <a href="#" class="btn btn-primary">Cadastrar</a>
                </div>
              </div>
            </div>
            </div>
           </div>


    </div>

  </div>